.medium{
    position: relative;
    }
.medium,
.medium *{
    min-height: 1px;
    outline: none;
    resize: none;
    zoom: 1;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    }
    
.medium p{
	position: relative;
	z-index: 2;
	}
    .medium p:first-child,
    .medium .medium-placeholder + p{
        margin-top:0;
        }
    .medium p:last-child{
        margin-bottom:0;
        }
.medium .medium-paste-hook{
    position: absolute;
    opacity:0;
    }
.medium > *:first-child:empty:before {
    content:attr(data-placeholder);
     /*position: absolute;*/
    z-index: 1;
    pointer-events: none;
    color:gray;
    min-height: 1em;
}
/* ZenEditor */

/*********************************************
 * UI BUBBLE
 *********************************************/

.text-options {

    -webkit-transition: opacity 250ms, margin 250ms;
    -moz-transition: opacity 250ms, margin 250ms;
    -ms-transition: opacity 250ms, margin 250ms;
    -o-transition: opacity 250ms, margin 250ms;
    transition: opacity 250ms, margin 250ms;

    position: absolute;
    left: -999px;
    top: -999px;
    color: #fff;
    height: 0px;
    width: 0px;
    z-index: 5;
    margin-top: 0px;
    opacity: 0;
}

.text-options.fade {
    opacity: 0;
    margin-top: -5px;
}

.text-options.active {
    opacity: 1;
    margin-top: 5px;
}

.options {
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    border-radius: 5px;
    margin-left: -63px;
    margin-top: -46px;
    z-index: 1000;
    padding: 5px 4px 5px 5px;
    width: 125px;
    height: 40px;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.options.url-mode {
    width: 275px;
    margin-left: -137px;
}

.options.url-mode .bold, .options.url-mode .italic, .options.url-mode .quote {
    width: 0px;
    overflow: hidden;
    margin-right: 0px;
    opacity: 0;
}

.options .italic {
    font-style: italic;
}

.options button {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    float: left;
    width: 28px;
    opacity: 0.7;
    height: 30px;
    border-radius: 3px;
    margin-right: 1px;
    font-family: 'Lora', serif;
}

.options.url-mode input{
    border-left: 2px solid transparent;
    padding-right: 5px;
    padding-left: 5px;
    width: 236px;
}

.options input {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    border-radius: 3px;
    overflow: hidden;
    outline: 0px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: left;
    width: 0px;
}

.options button.active {
    background-color: rgba(255,255,255,0.4);
    opacity: 1;
}

.yang .options button.active {
    background-color: rgba(0,0,0,0.3);
}

.options button:hover {
    opacity: 0.95;
}

.options:before {
    content: "";
    border-top: 5px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    margin-left: -5px;
    top: -14px;
    height: 5px;
    width: 0px;
    left: 50%;
}

.yang .options {
    background-color: rgba(255,255,255,0.9);
    color: #000;
}

.yang .options:before {
    border-top: 5px solid rgba(255,255,255,0.9);
}

.url {
    -webkit-font-smoothing: antialiased;
}

.top {
    position: absolute;
    top: 0px;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.about {
    font-family: 'Lora', serif;
    font-size: 28px !important
}

.wrapper {
    position: relative;
    height: 100%;
}