.medium{
    position: relative;
    }
.medium,
.medium *{
    min-height: 1px;
    outline: none;
    resize: none;
    zoom: 1;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    }
    
.medium p{
	position: relative;
	z-index: 2;
	}
    .medium p:first-child,
    .medium .medium-placeholder + p{
        margin-top:0;
        }
    .medium p:last-child{
        margin-bottom:0;
        }
.medium .medium-paste-hook{
    position: absolute;
    opacity:0;
    }
.medium > *:first-child:empty:before {
    content:attr(data-placeholder);
     /*position: absolute;*/
    z-index: 1;
    pointer-events: none;
    color:gray;
    min-height: 1em;
}
/*.medium .medium-placeholder{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    }
    .medium.medium-rich .medium-placeholder{
        font-style: italic;
        }*/